{% extends "layouts/base.njk" %} 
{% block content %}
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <ul>
    {% for image in collections.cloudinaryGallery %}
      <li>
        <a href="images/{{ image.public_id }}">
          <img src="{{ image.secure_url }}" alt="{{ image.public_id }}">
        </a>
      </li>
    {% endfor %}
  </ul>    
{% endblock %}