{% extends "layouts/base.njk" %} 
{% block content %}
  <h1>{{ photo.display_name }}</h1>
  {% include 'partials/picture.njk' %}
  <p>Created: {{ photo.created_at }}</p>
  <a href="/">Back to Home</a>
{% endblock %}