{% extends "layouts/base.njk" %} 
{% block content %}
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <ul>
    {% for photo in collections.cloudinaryGallery %}
      <li>
        <a href="photos/{{ photo.public_id }}">
          {% include 'partials/picture.njk' %}          
        </a>
      </li>
    {% endfor %}
  </ul>    
{% endblock %}